[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
djangorestframework = "*"
djoser = "*"
gunicorn = "*"
django-heroku = "*"
pillow = "*"
"psycopg2-binary" = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.6"
