// .collections{
//   background-color: ;
// }

// .album_info{
//   border: 1pt black solid;
// }

// .collections_image{
//   height:60%;
//   width:60%;
// }

// .contact_button_disp{
//   display: inline-block;
// }

.collections_image{
  margin-bottom: -12px;
  margin-top:10px;
}

.album_name{
  margin-top: -10px;
}

.contact_button{
  margin-top:5px;
}
