// underlines the track and album name fields 

.name{
  text-decoration: underline;
}

// pushes delete button to the right of the accordion
.delete_btn{
  margin-left: auto;
}
// keeps accordion from opening when delete button is clicked
.collapsible-body .collapse{
  display: none !important;
}
// styling for image - creates small circle and places it in header area
.myCollection.container {
  .collection-header {
    display:inline-block;
  }

  .profile-image {
    display: inline-block;
    width: 3.6rem;
    height: 3.6rem;
    position: absolute;
    top: 5px;

    img{
      border-radius: 90px;
      height:100%;
    }
  }

}
