.name {
  text-decoration: underline; }

.delete_btn {
  margin-left: auto; }

.collapsible-body .collapse {
  display: none !important; }

.myCollection.container .collection-header {
  display: inline-block; }

.myCollection.container .profile-image {
  display: inline-block;
  width: 15%; }
  .myCollection.container .profile-image img {
    border-radius: 70px; }
